body {
    background-color:#1C1C1C;
}
body .app {
    text-align: center;
    justify-content: center;
    align-items: center;
    position:absolute;
		left:50%;
		top:30%;
		margin-left:-193px;
		margin-top:-40px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    width: 400px;
    height: 320px;
    background-color: white;
    opacity: 1;
    transition: opacity 0.4s ease-out;
}
body .app.hide {
    opacity: 0; 
    transition: opacity 0.4s ease-out;
}
body #signup {
    opacity: 0; 
    transition: opacity 0.4s ease-out;
}
body #signup.hide {
    opacity: 1; 
    transition: opacity 0.3s ease-out;
}
body .app h2 {
    font-size: 40px;
    color: #1C1C1C;
}
body .app input {
    padding: 7px;
    margin: 7px;
    text-align: center;
    border: 1px solid #1E90FF;
    border-radius: 10px;
    width: 70%;
}
body .app input:active {
    border: 1px solid #00BFFF;
}
body .app button {
    margin: 20px;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    border: 1px solid #1E90FF;
    background-color: #1E90FF;
    width: 100px;
    height: 40px;
}
body .app button:hover {
    border: 1px solid #00BFFF;
    background-color: #00BFFF;
}

